<form class="form-horizontal" [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <div class="form-group" [ngClass]="aplicaCssErro('nome')">
        <div class="col-sm-12">
            <label for="nome" class="control-label">Nome</label>
        </div>
        <div class="col-sm-12">
            <input type="text" class="form-control" formControlName="nome"
                id="nome" placeholder="Nome">
            <app-campo-control-erro
                [mostraErro]="verificaValidTouched('nome')"
                msgErro="Campo obrigatório">
            </app-campo-control-erro>
        </div>
    </div>

    <div class="form-group" [ngClass]="aplicaCssErro('email')">
        <div class="col-sm-12">
            <label for="email" class="control-label">E-mail</label>
        </div>
        <div class="col-sm-12">
            <input type="text" class="form-control" formControlName="email"
                id="email" placeholder="usuario@email.com">
                <app-campo-control-erro
                [mostraErro]="verificaValidTouched('email')"
                msgErro="Campo obrigatório">
            </app-campo-control-erro>
            <app-campo-control-erro
                [mostraErro]="verificaEmailInvalido()"
                msgErro="E-mail inválido">
            </app-campo-control-erro>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
    &nbsp;
    <button type="button" class="btn" (click)="resetar()">Cancelar</button>

    <app-form-debug [form]="formulario"></app-form-debug>
</form>
